<app-navbar></app-navbar>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
   
  </header>

  <main class="px-3">
    <h1>Welcome coach {{user.name}}</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
    </p>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
</div>


    
  </body>
