<div class="text-center" style="padding: 3rem;">
<h1 style="font-weight: bold;">Register</h1>
<div class="container" style="max-width: 50%;">
    <form [formGroup]="registerForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter username</mat-label>
          <input formControlName="username" matInput>
          <mat-error>Username is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter password</mat-label>
          <input type="password" formControlName="password" matInput>
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label >Confirm password</mat-label>
          <input type="password" formControlName="confirmPassword" matInput>
          
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter name</mat-label>
          <input formControlName="firstName" matInput>
          <mat-error>Name is required</mat-error>

        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter surname</mat-label>
          <input formControlName="lastName" matInput>
          <mat-error>Surname is required</mat-error>

        </mat-form-field>
      </div>
      
      <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Administrator" (click)="changeRole()"></mat-tab>
        <mat-tab label="Coach" (click)="changeRole()">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Years of experience</mat-label>
              <input type="number" formControlName="yearsOfExperience" matInput>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Selection</mat-label>
              <mat-select formControlName="selectionID">
                <mat-option *ngFor="let sel of selections" [value]="sel.selectionID">
                  {{sel.selectionName}}-{{sel.selectionAge['selectionAgeName']}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
        </mat-tab>
        
      </mat-tab-group>
      <div style="margin-top: 2rem;">
        <button class="btn btn-dark" type="submit" (click)="onRegister()">Register</button>

      </div>
      <div class="text-danger" *ngIf="!registerForm.invalid && registerForm.get('password').value != registerForm.get('confirmPassword').value">
        Passwords must match!
      </div>

      </form>

    </div>
  </div>