<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BC</a>
   
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="role == 'Operator' else coach">
        
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active current" routerLink="/selections">Selections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/players">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/coaches">Coaches</a>
        </li>
      
      </ul>
    </div>
    <ng-template #coach>
      <div class="navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active current" routerLink="/my-selection">My selection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active current" routerLink="/trainings">Trainings</a>
          </li>
          
        
        </ul>
        </div>
    </ng-template>
    <div class="d-flex">
      <button class="btn btn-outline-danger" type="submit">{{role}}</button>
      <button class="btn btn-outline-danger" type="submit" (click)="onLogOut()">Log out</button>

    </div>
   
  </div>
</nav>