<app-navbar></app-navbar>
<h1 style="margin-left: 3rem; margin: 3rem;">
  Edit selection
  <button class="btn btn-primary" style="float: right; margin-left: 1rem;" (click)="onConfirm()">Confirm changes</button>
  <button class="btn btn-danger" style="float: right;" (click)="onDiscard()">Discard</button>
</h1>
<form [formGroup]="selectionForm">
  <div class="input-group mb-3" style="margin: 2rem; max-width: 50%;">
    <input class="form-control" formControlName="selectionName" type="text" style="margin-right: 1rem;">
    <button *ngIf="isDisabled else confirm" class="btn btn-primary" type="submit" (click)="onChangeName()">Change</button>
    <ng-template #confirm>
      <button class="btn btn-success" type="submit" (click)="onChangeName()">Confirm</button>
    </ng-template>
  </div>
  <div class="input-group mb-3" style="margin: 2rem; max-width: 30%;">
    <select class="form-select" formControlName="selectionAge" aria-label="Default select example" style="margin-right: 1rem;">
      <option *ngFor="let sa of selectionAges" value="{{sa.selectionAgeID}}">{{sa.selectionAgeName}}</option>
    </select>
    
  </div>
</form>
<div class="row" style="padding: 4rem; margin-left: 5rem;">
  <div class="col-6">
    <div class="table-responsive">
      <h1>Players</h1>
      <table class="table table-hover table-dark table-bordered overflow" style="margin-top: 2rem; max-width: 70%; max-height: 30rem;">
        <thead>
          <tr>
            <th scope="col" style="cursor: pointer;">Name</th>
            <th scope="col" style="cursor: pointer;">Surname</th>
            <th scope="col" style="cursor: pointer;">Year of Birth</th>
            <th scope="col" ></th>
           
          </tr>
        </thead>
        <tbody>
          
         <tr *ngFor ="let p of players" style="cursor: pointer;">
           <td>{{p.name}}</td>
           <td>{{p.surname}}</td>
           <td >{{p.birthDate | date:'yyyy'}}</td>
           <td (click)="onRemove(p)">Remove</td>
         </tr>
          
        </tbody>
      </table>
    </div>
    <div style="margin-bottom: 2rem;">
      <button type="submit" class="btn btn-primary" (click)="onAddPlayer()">Add player</button>
      </div>
      <div *ngIf="addingPlayer">
        <table class="table table-hover table-secondary table-bordered overflow" style="margin-top: 2rem; max-width: 70%; max-height: 30rem;">
          <thead>
            <tr>
              <th scope="col" style="cursor: pointer;">Name</th>
              <th scope="col" style="cursor: pointer;">Surname</th>
              <th scope="col" style="cursor: pointer;">Year of Birth</th>
              <th scope="col" ></th>
             
            </tr>
          </thead>
          <tbody>
            
           <tr *ngFor ="let p of playersWithoutSelection" style="cursor: pointer;">
             <td>{{p.name}}</td>
             <td>{{p.surname}}</td>
             <td >{{p.birthDate | date:'yyyy'}}</td>
             <td (click)="onAdd(p)">Add</td>
           </tr>    
          </tbody>
        </table>
      </div>
  </div>
    <div class="col-6">

      <div class="table-responsive">
        <h1>Coaches</h1>
      <table class="table table-hover table-dark table-bordered overflow" style="margin-top: 2rem; max-width: 70%; max-height: 30rem;">
        <thead>
          <tr>
            <th scope="col" style="cursor: pointer;">Name</th>
            <th scope="col" style="cursor: pointer;">Surname</th>
            <th scope="col" style="cursor: pointer;">Years of Experience</th>
            <th scope="col" ></th>
           
          </tr>
        </thead>
        <tbody>
        
          
         <tr *ngFor ="let c of coaches" style="cursor: pointer;">
           <td>{{c.name}}</td>
           <td>{{c.surname}}</td>
           <td >{{c.yearsOfExperience}}</td>
           <td>Remove</td>
         </tr>
        </tbody>
      </table>
      <div style="margin-bottom: 2rem;">
        <button type="submit" class="btn btn-primary" (click)="onAddCoach()">Add coach</button>
        </div>
        <div *ngIf="addingCoach">
          <table class="table table-hover table-secondary table-bordered overflow" style="margin-top: 2rem; max-width: 70%; max-height: 30rem;">
            <thead>
              <tr>
                <th scope="col" style="cursor: pointer;">Name</th>
                <th scope="col" style="cursor: pointer;">Surname</th>
                <th scope="col" style="cursor: pointer;">Years of Experience</th>
                <th scope="col" ></th>
               
              </tr>
            </thead>
            <tbody>
              
             <tr *ngFor ="let c of coachesWithoutSelection" style="cursor: pointer;">
               <td>{{c.name}}</td>
               <td>{{c.surname}}</td>
               <td >{{c.yearsOfExperience}}</td>
               <td (click)="onAdd(c)">Add</td>
             </tr>    
            </tbody>
          </table>
        </div>
    </div>
    <h1>Upcoming trainings</h1>
    </div>
      
</div>