<app-navbar></app-navbar>
<div class="row" style="padding: 5rem;">
 
    <div class="col-9">
      <div class="container">
        <h2>Find and edit coaches</h2>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Type a name or surname of a player" #input>
        </mat-form-field>
        <table mat-table [dataSource]="searchedCoaches" class="mat-elevation-z8" matSort>

        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element">  {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>
        
          <ng-container matColumnDef="yearsOfExperience" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Years of experience </th>
            <td mat-cell *matCellDef="let element"> {{element.yearsOfExperience}} </td>
          </ng-container>
        
          <ng-container matColumnDef="selection">
            <th mat-header-cell *matHeaderCellDef> Selection </th>
            <td mat-cell *matCellDef="let element"> {{element.selection==null ? 'Unselected' : element.selection['selectionName']}}-{{element.selection==null ? '' : element.selection['selectionAge']['selectionAgeName']}}</td>
          </ng-container>

         
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onCoach(row)" style="cursor: pointer;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        </div>
   
  </div>
  
  <div class="col-3"  style="min-width: 10rem; margin-top: 5%;">
    <div class="card text-center">
      <div class="card-header" *ngIf="isEditing===false; else Editing">
        
        <h2>Coach's details</h2>
      </div>
      <ng-template #Editing>
        <div class="card-header">
          <h2><span style="float: left;">Edit coach</span>
            <span style="float: right;">
              <button type="button" class="btn btn-outline-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
               <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
              Close
            </button></span>
          </h2>
         
        </div>
      </ng-template>
      <form [formGroup]="editCoachForm">
      <div class="card-body">
       
       
          <div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <label for="firstName">First name</label>
            <input [readonly]="isEditing" formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Name">
          </div>
          <div class="form-group" style="margin-bottom: 1rem;">
            <label for="lastName">Last name</label>
            <input [readonly]="isEditing" formControlName="lastName" type="lastName" class="form-control" id="lastName" placeholder="Last name">
          </div>
          
          <div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <label for="yearsOfExperience">Years of experience</label>
            <input [readonly]="isEditing" formControlName="yearsOfExperience" type="number" class="form-control" id="yearsOfExperience" placeholder="0">
          </div>

          <div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <label for="selectionID">Selection</label>
            <select class="form-control" id="selectionID" formControlName="selectionID">
              <option value="0">Unselected</option>
              <option  *ngFor="let s of selectionsApi" value="{{s.selectionID}}">"{{s.selectionName}}-{{s.selectionAge['selectionAgeName']}}"</option>
            </select>
          </div>
        
      </div>
      <div class="card-footer text-muted">
        <div style="margin-bottom: 2rem;">
          <button type="submit" class="btn btn-dark" [disabled]="editCoachForm.invalid || !editCoachForm.enabled" style="margin-top: 1rem;" (click)="onUpdate()">Update coach</button>
          <button type="submit" class="btn btn-danger" [disabled]="!editCoachForm.enabled"  style="margin-top: 1rem; margin-left: 1rem;" (click)="onDelete()">Delete coach</button>
          </div>
      </div>
     
      
    </form>
    </div>
  </div>

  
</div>


<!-- Srediti sta kad nema igraca, srediti greske, srediti vezu sa serverom, ulepsati malo sve -->