<app-navbar></app-navbar>
<div class="row" style="padding: 5rem; margin-left: 5rem;">
 
    <div class="col-9">
      <h2>Find and edit coaches</h2>
        <div class="d-flex align-items-center">
            <form class="w-50 me-3" style="justify-content: center;">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText" (ngModelChange)="onSearch()" type="search" class="form-control" placeholder="Search for a coach" aria-label="Search">
            </form>        
        </div>
        <div class="table-responsive">
    <table class="table table-hover table-dark table-bordered overflow" style="margin-top: 2rem; max-width: 70%; max-height: 30rem;">
      <caption>Click on a row in order to edit or delete coach</caption>
      <thead>
        <tr>
          <th scope="col" (click)="sortString('name')" style="cursor: pointer;">Name</th>
          <th scope="col" (click)="sortString('surname')" style="cursor: pointer;">Surname</th>
          <th scope="col" (click)="sortExp()"  style="cursor: pointer;">Years of Experience</th>
          <th scope="col" style="cursor: pointer;">Selection</th>
         
        </tr>
      </thead>
      <tbody>
      
      
        
       <tr *ngFor ="let c of searchedCoaches" (click)="onCoach(c)" style="cursor: pointer;">
         <td>{{c.name}}</td>
         <td>{{c.surname}}</td>
         <td >{{c.yearsOfExperience}}</td>
         <td *ngIf="c['selection']!=null">{{c.selection.selectionName }}</td>
         <td *ngIf="c['selection']==null">Unselected</td>
       </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  <div class="col-3" style="min-width: 10rem;">
    <div class="card text-center">
      <div class="card-header" *ngIf="isEditing===false; else Editing">
        
        <h2>Coach's details</h2>
      </div>
      <ng-template #Editing>
        <div class="card-header">
          <h2><span style="float: left;">Edit coach</span>
            <span style="float: right;">
              <button type="button" class="btn btn-outline-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
               <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
              Close
            </button></span>
          </h2>
         
        </div>
      </ng-template>
      <form [formGroup]="editCoachForm">
      <div class="card-body">
       
       
          <div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <label for="firstName">First name</label>
            <input [readonly]="isEditing" formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Name">
          </div>
          <div class="form-group" style="margin-bottom: 1rem;">
            <label for="lastName">Last name</label>
            <input [readonly]="isEditing" formControlName="lastName" type="lastName" class="form-control" id="lastName" placeholder="Last name">
          </div>
          
          <div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <label for="yearsOfExperience">Years of experience</label>
            <input [readonly]="isEditing" formControlName="yearsOfExperience" type="number" class="form-control" id="yearsOfExperience" placeholder="0" [disabled]="true">
          </div>

          <div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
            <label for="selectionID">Selection</label>
            <select class="form-control" id="selectionID" formControlName="selectionID">
              <option value="null">Unselected</option>
              <option  *ngFor="let s of selectionsApi" value="{{s.selectionID}}">"{{s.selectionName}}-{{s.selectionAge['selectionAgeName']}}"</option>
            </select>
          </div>
        
      </div>
      <div class="card-footer text-muted">
        <div style="margin-bottom: 2rem;">
          <button type="submit" class="btn btn-dark" [disabled]="editCoachForm.invalid" style="margin-top: 1rem;" (click)="onUpdate()">Update coach</button>
          <button type="submit" class="btn btn-danger" [disabled]="editCoachForm.invalid"  style="margin-top: 1rem; margin-left: 1rem;" (click)="onDelete()">Delete coach</button>
          </div>
      </div>
     
      
    </form>
    </div>
  </div>

  
</div>


<!-- Srediti sta kad nema igraca, srediti greske, srediti vezu sa serverom, ulepsati malo sve -->